@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
    margin: 0px;
    font-family: 'Caveat', cursive;
}

.container {
    width: 100%;
    background-color: rgb(222, 184, 135);
}

#header-img {
    width: 40%;
}

.page-wrapper {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    background-image: url()
}

#header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(255, 255, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
}

.nav-class {
    padding: 20%;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}

@media (max-width: 650px) {
    #header {
        max-height: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
        background-color: rgb(255, 255, 224);
        justify-content: center;
        align-items: center;
    }
    .img-wrapper {
        width: 100%;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        justify-content: center;
    }
    #nav-bar {
        height: min-content;
        width: 100%;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-class {
        padding: 10px;
    }
    .nav-link {
        padding: 10px;
    }
    #header-img {
        width: 20%;
    }
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#header-img {
    padding-left: 10%;
}

.email {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.email div {
    padding: 10px;
}

#email {
    width: 280px;
    height: 25px;
}

.button {
    max-width: 150px;
    width: 100%;
    height: 30px;
    background-color: #f1c40f;
    text-transform: uppercase;
    border: 0;
    font-size: 1.5em;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
}

.personality {
    display: flex;
    justify-content: center;
}

#personality {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}

.personality-container {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#personality .personality {
    padding: 10px;
    max-height: 100px;
    height: 100px;
    display: flex;
}

.pig {
    height: 100%;
}

#pig1 {
    transform: scale(2);
}

#look {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    height: 800px;
    background: url("143869655_440889877324907_4815169164054830664_n-removebg-preview.png");
    background-size: auto;
}

#hobbies img {
    width: 300px;
}

.text {
    font-size: 5em;
    color: whitesmoke;
}
